<div class="col-lg-12">
  <div class="card">
    <div class="card-body">
      <%= simple_form_for @expense do |form| %>
      <div class="row" style="margin-bottom: 20px;">
        <div class="col-12">
          <h4 class="mt-0 header-title">Reimbursment</h4>
        </div>
        <div class="col-12">
          <hr class="my-4">
        </div>
          <% if expense.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

              <ul>
                <% expense.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>


          <div class="col-3">
            <%= form.input :date,:input_html => {class:'form form-control input-date'} %>
          </div>
          <div class="col-3">
            <%= form.input :usage, :collection => Expense::USAGE, :input_html => {class:'form form-control'} %>
          </div>

          <div class="col-3">
            <%= form.input :amount, placeholder: '0.0 rmb',:input_html => {class:'form-control'}%>
          </div>

          <div class="col-3">
            <%= form.input :people, collection: 1..20,:input_html => {class:'form-control nowidth'} %>
          </div>

          <div class="col-3">
            <%= form.input :description, as: :text,:input_html => {class:'form-control'} %>
          </div>

          <div class="col-3">
            <%= form.input :status,:input_html => {class:'form-control'} %>
          </div>

          <div class="col-sm-3">
            <div class="form-group">
              <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
              </div>
           </div>
          </div>

          <div class="actions">
            <%= form.button :submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).on('turbolinks:load', function() {
       $('#datetimepicker1').datetimepicker();
    })

</script>
