<div class='nested-fields col-12 mt-5 row'>
   <div class="col-3">
      <%= f.input :usage, :collection => Expense::USAGE, :input_html => {class:'form form-control', type:'array'} %>
    </div>

    <div class="col-3">
      <%= f.input :amount, placeholder: '0.0 rmb',:input_html => {class:'form-control'}%>
    </div>

    <div class="col-3">
      <%= f.input :people, collection: 1..5,:input_html => {class:'form-control nowidth'},include_blank: false, include_hidden: false %>
    </div>

    <div class="col-3">
      <%= f.input :status,:input_html => {class:'form-control',type:'array'} %>
    </div>

    <div class="col-3">
      <%= f.input :date,as: :string, :input_html => { class:'form-control datepicker'} %>
    </div>

    <div class="col-12 row d-flex justify-content-center align-items-center">
      <div class='col-10'>
        <%= f.input :description, as: :text,:input_html => {class:'form-control',type:'array'} %>
      </div>
      <div class="col-2">
        <%= link_to_remove_association "remove delete", f,class:"btn btn-danger" %>
      </div>
    </div>

</div>

<script>
  flatpickr(".datepicker", {})
</script>
