<div class="col-lg-12 mt-5">
  <div class="card">
    <div class="card-body">
      <%= simple_form_for @account do |form| %>
       <div class="row p-3" style="margin-bottom: 20px;">
          <div class="col-12">
            <h4 class="mt-0 header-title">ADD Reimbursement</h4>
          </div>
          <div class="col-12">
            <hr class="my-4">
          </div>
            <%= render 'shared/errors', object: @account %>

              <%= form.fields_for :expenses do |expense| %>
                 <%= render 'expense_fields', f: expense %>
              <% end %>
              <div class="links col-12">
                <%= link_to_add_association 'add new expense', form, :expenses %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
